<!-- <p>listado works!</p>

<ul>
  <li *ngFor="let heroe of heroes">
    {{heroe.superhero}}
  </li>
</ul> -->

<h1>Listado de Heroes</h1>
<mat-divider></mat-divider>
<br>

<!--Con esto ponemos todas las tarjetas en una sola fila-->
<!--wrap: le dice que si las tarejtas no cavben que pase a la sigueinte linea-->
<div fxLayout="row wrap"
fxLayout.xs="column"
fxLayoutAlign="center" fxLayoutGap="20px">
<!--fxFlex="20" con esto le decimos que cada tarjeta tiene el 20% del row-->
  <div fxFlex="20" fxFlex.lg ="15" fxFlex.sm="30" *ngFor="let heroe of heroes">
<!--Tarjeta-->
    <mat-card>
      <mat-card-header>
        <!--Titulo-->
        <mat-card-title>
          {{heroe.superhero}}
        </mat-card-title>
        <!--Subtitulo-->
        <mat-card-subtitle>
          {{heroe.alter_ego}}
        </mat-card-subtitle>
      </mat-card-header>

      <!--imagen interpolamos la imagen -->
      <img mat-card-image src="assets/heroes/{{heroe.id}}.jpg">

      <!--Contenido de la tarjeta-->
      <mat-card-content>
        <h3>{{heroe.publisher}}</h3>
        <p>
          <strong>
            Primera aparicion
          </strong>
          {{heroe.first_appearance}}
          <br>
          <strong>Personajes:</strong> {{heroe.characters}}
        </p>
      </mat-card-content>

      <!--Espacion reservado para poner botones-->
      <mat-card-actions>
        <!--Boton 1-->
        <button mat-button color="warn">
          Leer más...
        </button>

        <!--Boton 2-->
        <button mat-button color="info">
          Editar
        </button>
      </mat-card-actions>

    </mat-card>

  </div>
</div>



